asgiref==3.2.10
Django==3.1
django-debug-toolbar==2.2
django-mathfilters==1.0.0
gunicorn==20.0.4
psycopg2==2.9.5
pytz==2020.1
sqlparse==0.3.1
requests~=2.28.1
pyTelegramBotAPI
djangorestframework~=3.14.0
docxtpl~=0.16.5
docx2pdf
transliterate~=1.10.2
bs4~=0.0.1
python-dateutil~=2.8.2
celery~=5.2.7
beautifulsoup4~=4.11.1