{% extends 'control.html' %}
{% load static %}
{#{% load mathfilters %}#}
{% block content %}

    <div class="row small-spacing">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="col-md-9 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-content card">
                        <h4 class="box-title"><i class="fa fa-user ico"></i>Основное</h4>
                        <!-- /.box-title -->
                        <div class="dropdown js__drop_down">
                            <a href="#"
                               class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'customers_edit' info.id %}">Редактирование</a></li>
                            </ul>
                            <!-- /.sub-menu -->
                        </div>
                        <!-- /.dropdown js__dropdown -->
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Тип:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{% if info.type == 'FI' %}Физ. лицо {% else %}Юр.
                                            лицо{% endif %}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Фамилия:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.name }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Имя:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.surname }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Отчество:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.patronymic }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Адрес:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.address }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>День рождения:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.dr }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Телефон:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.tel }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>№ паспорта:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.pasno }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Выдан:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.pasby }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Дата выдачи:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.pasdate }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Код подразделения:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.paskod }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5"><label>Источник информации:</label></div>
                                        <!-- /.col-xs-5 -->
                                        <div class="col-xs-7">{{ info.whereknow }}</div>
                                        <!-- /.col-xs-7 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-content -->
                    </div>
                    <!-- /.box-content card -->
                </div>
                <div class="form-group">

                    {#                    <button value="dop"#}
                    {#                            class="btn btn-icon btn-icon-right btn-default waves-effect waves-light margin-top-10 margin-bottom-10"#}
                    {#                            data-toggle="modal" data-target="#Modal-all"><i class="ico fa fa-mortar-board "></i>Резюме#}
                    {#                    </button>#}
                    <form method="post" style="margin-left: 20px">
                        {% csrf_token %}
                        <a class="btn btn-icon btn-icon-right btn-default waves-effect waves-light margin-top-10 margin-bottom-10"
                           data-toggle="modal" data-target="#doppolya"><i class="ico fa fa-bars"></i>Дополнительные
                            поля
                        </a>
                        {% if user.is_superuser %}
                            <button class="btn btn-icon btn-icon-right btn-default waves-effect waves-light margin-top-10 margin-bottom-10"
                                    type="submit" name="dogadenda" value="dogadenda"><i class="ico fa fa-file"></i>Договор
                                аренды
                            </button>
                            <button class="btn btn-icon btn-icon-right btn-default waves-effect waves-light margin-top-10 margin-bottom-10"
                                    type="submit" name="spravkaspione" value="spravkaspione"><i
                                    class="ico fa fa-file"></i>Справка
                                Каспи
                            </button>
                            <button class="btn btn-icon btn-icon-right btn-default waves-effect waves-light margin-top-10 margin-bottom-10"
                                    type="submit" name="spravkaspitwo" value="spravkaspitwo"><i
                                    class="ico fa fa-file"></i>Справка
                                Каспи 2
                            </button>
                        {% endif %}
                    </form>
                    {#                        <a target="_blank"#}
                    {#                           class="btn btn-icon btn-icon-right btn-default waves-effect waves-light margin-top-10 margin-bottom-10"#}
                    {#                           href="https://xn--90adear.xn--p1ai/check/fines#{{ noforgibdd }}+{{ regionforgibdd }}+{{ car.sts }}"><i#}
                    {#                                class="ico fa fa-warning"></i>Штрафы</a>#}

                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="box-content card">
                        <h4 class="box-title"><i class="fa fa-money ico"></i> Платежи</h4>
                        <!-- /.box-title -->
                        <div class="dropdown js__drop_down">
                            <a href="#"
                               class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                            <ul class="sub-menu">
                                <li class="split"></li>
                            </ul>
                            <!-- /.sub-menu -->
                        </div>
                        <!-- /.dropdown js__dropdown -->
                        <div class="card-content">

                            <table id="example-scroll-y" class="table table-striped table-bordered display"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Комментарий</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th colspan="2" class="text-right">Итого:</th>
                                    <th>{{ info.all_sum_already }}</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for rec in info.all_rec %}
                                    <tr>
                                        <td>{{ rec.date }}</td>
                                        <td>{{ rec.com }}</td>
                                        <td>{{ rec.sum }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-content -->
                    </div>
                    <!-- /.box-content card -->
                </div>
                <!-- /.col-md-6 -->
            </div>

        </div>
        <!-- /.col-md-9 col-xs-12 -->
    </div>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="doppolya" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel-2">Дополнительные поля</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm waves-effect waves-light"
                                data-dismiss="modal">Закрыть
                        </button>
                        <button type="submit" name="doppolya" value="doppolya"
                                class="btn btn-primary btn-sm waves-effect waves-light">
                            Применить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel-1">Комплектация</h4>
                </div>
                <div class="modal-body text-center">

                    <a target="_blank"
                       class="btn btn-xs btn-default waves-effect waves-light margin-top-0 margin-bottom-10"
                       href="">Изменить список</a>
                    <form method="post">
                        {% csrf_token %}
                        {{ FormComps }}
                        <hr>
                        <button type="submit" name="var" value="red_comp"
                                class="btn btn-primary btn-sm waves-effect waves-light">Сохранить
                        </button>
                    </form>
                    <!-- /.card-content -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal-add" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel-1">Загрузка файла</h4>
                </div>
                <div class="modal-body text-center">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ FormFile.as_p }}
                        <hr>
                        <button type="submit" name="var" value="up_file"
                                class="btn btn-primary btn-sm waves-effect waves-light">Сохранить
                        </button>
                    </form>
                    <!-- /.card-content -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}