{% extends 'control.html' %}
{% load static %}

{% block content %}

    <div class="row small-spacing">
			<div class="col-xs-12">
					<table id="example" class="table table-striped table-bordered display" style="width:100%">
						<thead>
							<tr>
								<th>ФИО</th>
								<th>Дел на сумму</th>
								<th>Всего оплачено</th>
								<th>Должны</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>ФИО</th>
								<th>Дел на сумму</th>
								<th>Всего оплачено</th>
								<th>Должны</th>
							</tr>
						</tfoot>
						<tbody>
                         {% for item in for_table %}
							<tr>
								<td style="vertical-align: middle"><a href="{% url 'performers_info' performers_id=item.id %}">{{ item.name }}</a></td>
                                <td style="vertical-align: middle">{{ item.all_sum }}</td>
                                <td style="vertical-align: middle">{{ item.all_sum_already }}</td>
                                <td style="vertical-align: middle">{{ item.all_debt }}</td>
							</tr>
                         {% endfor %}
						</tbody>
					</table>
				<!-- /.box-content -->
			</div>
		</div>
		<!-- /.row small-spacing -->
{% endblock %}