.fortablechart {
        vertical-align: middle !important;
        padding: 2px !important;
    }
@media screen and (max-width: 645px) {
     .fortablechart {
        font-size: 8px;
    }
   }
@media screen and (max-width: 486px) {
     .fortablechart {
        font-size: 6px;
    }
   }
@media screen and (max-width: 403px) {
     .fortablechart {
        font-size: 3px;
    }
   }
.tab-content {
    padding: 5px !important;
}