{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% if titlepage %}{{ titlepage }}{% else %}{{ 'Без названия' }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/favicon.ico">
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"#}
    {#          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">#}
    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/styles/style.min.css" %}">

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/fonts/material-design/css/materialdesignicons.css" %}">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet"
          href="{% static "darkadmin/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" %}">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/waves/waves.min.css" %}">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/sweet-alert/sweetalert.css" %}">

    <!-- Percent Circle -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/percircle/css/percircle.css" %}">

    <!-- Chartist Chart -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/chart/chartist/chartist.min.css" %}">

    <!-- FlexDatalist -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/flexdatalist/jquery.flexdatalist.min.css" %}">

    <!-- Popover -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/popover/jquery.popSelect.min.css" %}">

    <!-- Select2 -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/select2/css/select2.min.css" %}">

    <!-- Timepicker -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/timepicker/bootstrap-timepicker.min.css" %}">

    <!-- Touch Spin -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/touchspin/jquery.bootstrap-touchspin.min.css" %}">

    <!-- Colorpicker -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/colorpicker/css/bootstrap-colorpicker.min.css" %}">

    <!-- Datepicker -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/datepicker/css/bootstrap-datepicker.min.css" %}">

    <!-- Dropify -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/dropify/css/dropify.min.css" %}">

    <!-- DateRangepicker -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/daterangepicker/daterangepicker.css" %}">

    <!-- FullCalendar -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/fullcalendar/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "darkadmin/assets/plugin/fullcalendar/fullcalendar.print.css" %}"
          media='print'>

    <!-- Dark Themes -->
    <link rel="stylesheet" href="{% static "darkadmin/assets/styles/style-dark.min.css" %}">

    <!-- Data Tables -->
    <link rel="stylesheet"
          href="{% static "darkadmin/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css" %}">
    <link rel="stylesheet"
          href="{% static "darkadmin/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css" %}">
    {% block head %} {% endblock %}
</head>

<body>
<div class="main-menu">
    <header class="header">
        <a href="/control" class="logo">{{ nameprog }}</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <!-- /.header -->
    <div class="content">

        <div class="navigation">
            <ul class="menu js__accordion">
                {% if titlepage == 'Обзор' %}
                    <li class="current">{% else %}
                    <li>{% endif %}
                <a class="waves-effect" href=""><i
                        class="menu-icon mdi mdi-view-dashboard"></i><span>Обзор</span></a>
                </li>

                {% if menu == 'affairs' %}
                    <li class="current active">{% else %}
                    <li>{% endif %}
                <a class="waves-effect parent-item js__control" href="#"><i
                        class="menu-icon mdi mdi-animation"></i><span>Дела</span><span
                        class="menu-arrow fa fa-angle-down"></span></a>
                <ul class="sub-menu js__content">

                    {% if submenu == 'affairs_all' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'affairs_all' %}"><span>Все дела</span></a></li>

                    {% if submenu == 'extra_affairs_all' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'extra_affairs_all' %}"><span>Допники</span></a></li>

                {% if menu == 'poker' %}
                    <li class="current active">{% else %}
                    <li>{% endif %}
                <a class="waves-effect parent-item js__control" href="#"><i
                        class="menu-icon mdi mdi-account-multiple"></i><span>Покер</span><span
                        class="menu-arrow fa fa-angle-down"></span></a>
                <ul class="sub-menu js__content">

                    {% if submenu == 'promokods' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'promokodes_all' %}"><span>Промокоды бота</span></a></li>

                    {% if submenu == 'informations_all' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'informations_all' %}"><span>Источники информации</span></a></li>
                </ul>


                </ul>
                {% if menu == 'performers' %}
                    <li class="current active">{% else %}
                    <li>{% endif %}
                <a class="waves-effect parent-item js__control" href="#"><i
                        class="menu-icon mdi mdi-account-settings-variant"></i><span>Исполнители</span><span
                        class="menu-arrow fa fa-angle-down"></span></a>
                <ul class="sub-menu js__content">

                    {% if submenu == 'performers_all' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'performers_all' %}"><span>Все Исполнители</span></a></li>
                </ul>

                {% if menu == 'customers' %}
                    <li class="current active">{% else %}
                    <li>{% endif %}
                <a class="waves-effect parent-item js__control" href="#"><i
                        class="menu-icon mdi mdi-account-multiple"></i><span>Клиенты</span><span
                        class="menu-arrow fa fa-angle-down"></span></a>
                <ul class="sub-menu js__content">

                    {% if submenu == 'customers_all' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'customers_all' %}"><span>Все клиенты</span></a></li>

                    {% if submenu == 'informations_all' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'informations_all' %}"><span>Источники информации</span></a></li>
                </ul>

                {% if menu == 'finansy' %}
                    <li class="current active">{% else %}
                    <li>{% endif %}
                <a class="waves-effect parent-item js__control" href="#"><i
                        class="menu-icon mdi mdi-cash"></i><span>Фин.часть</span><span
                        class="menu-arrow fa fa-angle-down"></span></a>
                <ul class="sub-menu js__content">

                    {% if submenu == 'finansy_today_period' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'finansy_today_period' %}"><span>Приход/расход</span></a></li>
                {% if submenu == 'finansy_set' %}
                        <li class="current">{% else %}
                        <li>{% endif %}
                    <a href="{% url 'settings' %}"><span>Настройки</span></a></li>
                </ul>

                {% if menu == 'reports' %}
                    <li class="current active">{% else %}
                    <li>{% endif %}
                <a href="{% url 'reports_all' %}">
                    <i class="menu-icon mdi mdi-file-document"></i>
                    <span>Отчеты</span>
                </a>
                {#                <a href="{% url 'reports_all' %}"><span>Отчеты</span></a>#}
                </li>

                {#                {% if menu == 'settings' %}#}
                {#                    <li class="current active">{% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a href="{% url 'settings' %}"><span>Настройки</span></a>#}
                {#                <ul class="sub-menu js__content">#}
                {#                    </li>#}


                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                        <i class="menu-icon mdi mdi-arrange-send-backward"></i>
                        <span>Другие кабинеты</span><span
                            class="menu-arrow fa fa-angle-down"></span>
                    </a>
                    <ul class="sub-menu js__content">
                        <li>
                            <a href="https://кабинет.3кей.рф">
                                <i style="padding-right: 5px;" class="mdi mdi-gavel"></i>
                                <span>Юрист</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://кабинет.методика1.рф">
                                <i style="padding-right: 5px;" class="mdi mdi-arrange-bring-to-front"></i>
                                <span>Методика</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://кабинет.тэгинжиниринг.рф">
                                <i style="padding-right: 5px;" class="mdi mdi-wrench"></i>
                                <span>ТЭГ</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://кабинет.яндекстакси42.рф">
                                <i style="padding-right: 5px;" class="mdi mdi-car"></i>
                                <span>Автопарк</span>
                            </a>
                        </li>
                    </ul>
                </li>


                {#                {% if titlepage == 'Водители' %}#}
                {#                    <li class="current active">#}
                {#                        {% elif titlepage == 'Источники информации' %}#}
                {#                    <li class="current active">#}
                {#                        {% elif titlepage == 'Города' %}#}
                {#                    <li class="current active">#}
                {#                        {% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-account"></i><span>Водители</span><span#}
                {#                        class="menu-arrow fa fa-angle-down"></span></a>#}
                {#                <ul class="sub-menu js__content">#}
                {#                    {% if titlepage == 'Водители' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'drivers_all' %}"><span>Все водители</span></a></li>#}
                {#                    {% if titlepage == 'Источники информации' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'whereinfo_all' %}"><span>Источнки информации</span></a></li>#}
                {#                    {% if titlepage == 'Города' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'city_all' %}"><span>Города</span></a></li>#}
                {#                </ul>#}
                {#                </li>#}
                {##}
                {##}
                {#                {% if titlepage == 'Договора' %}#}
                {#                    <li class="current">{% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a class="waves-effect" href="{% url 'contracts_all' %}">#}
                {#                    <i class="menu-icon mdi mdi-file-document"></i><span>Договора</span>#}
                {#                </a>#}
                {#                </li>#}
                {##}
                {#                {% if titlepage == 'Счета' %}#}
                {#                    <li class="current active">#}
                {#                        {% elif titlepage == 'Платежи' %}#}
                {#                    <li class="current active">#}
                {#                        {% elif titlepage == 'Приход/Расход' %}#}
                {#                    <li class="current active">#}
                {#                        {% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a class="waves-effect parent-item js__control" href="#"><i#}
                {#                        class="menu-icon mdi mdi-currency-rub"></i><span>Финансы</span><span#}
                {#                        class="menu-arrow fa fa-angle-down"></span></a>#}
                {#                <ul class="sub-menu js__content">#}
                {#                    {% if titlepage == 'Счета' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'invoices_all' %}"><span>Счета</span></a></li>#}
                {#                    {% if titlepage == 'Платежи' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'invoices_paids_all' %}"><span>Платежи</span></a></li>#}
                {#                    {% if titlepage == 'Зарплатный проект' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'zp' %}"><span>Зарплатный проект</span></a></li>#}
                {#                    {% if titlepage == 'Приход/Расход' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'finansy_today_all' %}"><span>Приход/Расход</span></a></li>#}
                {#                </ul>#}
                {#                </li>#}
                {##}
                {#                {% if titlepage == 'Все места' %}#}
                {#                    <li class="current active">#}
                {#                        {% elif titlepage == 'Все элементы' %}#}
                {#                    <li class="current active">#}
                {#                        {% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a class="waves-effect parent-item js__control" href="#"><i#}
                {#                        class="menu-icon mdi mdi-animation"></i><span>Склад</span><span#}
                {#                        class="menu-arrow fa fa-angle-down"></span></a>#}
                {#                <ul class="sub-menu js__content">#}
                {#                    {% if titlepage == 'Все места' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'all_place' %}"><span>Места</span></a></li>#}
                {#                    {% if titlepage == 'Все элементы' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'all_elements' %}"><span>Элементы</span></a></li>#}
                {#                </ul>#}
                {#                </li>#}
                {#                {% if titlepage == 'Организации' %}#}
                {#                    <li class="current active">#}
                {#                        {% elif titlepage == 'Виды организаций' %}#}
                {#                    <li class="current active">#}
                {#                        {% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-domain"></i><span>Организации</span><span#}
                {#                        class="menu-arrow fa fa-angle-down"></span></a>#}
                {#                <ul class="sub-menu js__content">#}
                {#                    {% if titlepage == 'Организации' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'organizations_all' %}"><span>Организации</span></a></li>#}
                {#                    {% if titlepage == 'Виды организаций' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'organizations_variant_all' %}"><span>Виды организаций</span></a></li>#}
                {#                </ul>#}
                {#                </li>#}
                {##}
                {#                {% if menu == 'report' %}#}
                {#                    <li class="current active">{% else %}#}
                {#                    <li>{% endif %}#}
                {#                <a class="waves-effect parent-item js__control" href="#">#}
                {#                    <i class="menu-icon mdi mdi-file-document"></i>#}
                {#                    <span>Отчеты</span>#}
                {#                    <span class="menu-arrow fa fa-angle-down"></span>#}
                {#                </a>#}
                {#                <ul class="sub-menu js__content">#}
                {#                    {% if sub_menu == 'reports_cars' %}#}
                {#                        <li class="current">{% else %}#}
                {#                        <li>{% endif %}#}
                {#                    <a href="{% url 'reports_cars' %}">#}
                {#                        <span>Автомобили</span>#}
                {#                    </a>#}
                {#                    </li>#}
                {#                </ul>#}
                {#                </li>#}

            </ul>
            <!-- /.menu js__accordion -->
        </div>
        <!-- /.navigation -->
    </div>
    <!-- /.content -->
</div>
<!-- /.main-menu -->

<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">{% if titlepage %}{{ titlepage }}{% else %}{{ 'Без названия' }}{% endif %}</h1>
        <!-- /.page-title -->
    </div>
    <!-- /.pull-left -->
    <div class="pull-right">
        <div class="ico-item">
            <img src="http://placehold.it/80x80" alt="" class="ico-img">
            <ul class="sub-ico-item">
                <li><a href="">Вы - {{ user }}</a></li>
                <li><a class="text-danger" href="{% url 'log_out' %}">Выйти</a></li>
            </ul>
            <!-- /.sub-ico-item -->
        </div>
        {#		<!-- /.ico-item -->#}
    </div>
    <!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->
<!-- /#message-popup -->
<div id="wrapper">
    <div class="main-content">
        {% block content %} {% endblock %}
    </div>
    <!-- /.main-content -->
</div><!--/#wrapper -->


{% block modal %}{% endblock %}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="{% static "darkadmin/assets/script/html5shiv.min.js" %}"></script>
		<script src="{% static "darkadmin/assets/script/respond.min.js" %}"></script>
	<![endif]-->
<!--
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "darkadmin/assets/scripts/jquery.min.js" %}"></script>
<script src="{% static "darkadmin/assets/scripts/modernizr.min.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/nprogress/nprogress.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/sweet-alert/sweetalert.min.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/waves/waves.min.js" %}"></script>


<script src="{% static "darkadmin/assets/scripts/sweetalert.init.js" %}"></script>

<!-- Data Tables -->
<script src="{% static "darkadmin/assets/plugin/datatables/media/js/jquery.dataTables.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/datatables/media/js/dataTables.bootstrap.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js" %}"></script>
<script src="{% static "darkadmin/assets/scripts/datatables.demo.js" %}"></script>

<!-- Google Chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- chart.js Chart -->
<script src="{% static "darkadmin/assets/plugin/chart/chartjs/Chart.bundle.min.js" %}"></script>
<script src="{% static "darkadmin/assets/scripts/chart.chartjs.init.min.js" %}"></script>

<!-- FullCalendar -->
<script src="{% static "darkadmin/assets/plugin/moment/moment.js" %}"></script>
<script src="{% static "darkadmin/assets/plugin/fullcalendar/fullcalendar.min.js" %}"></script>
<script src="{% static "darkadmin/assets/scripts/fullcalendar.init.js" %}"></script>

<!-- Sparkline Chart -->
<script src="{% static "darkadmin/assets/plugin/chart/sparkline/jquery.sparkline.min.js" %}"></script>
<script src="{% static "darkadmin/assets/scripts/chart.sparkline.init.min.js" %}"></script>
{##}
<script src="{% static "darkadmin/assets/scripts/main.min.js" %}"></script>

<!-- Flex Datalist -->
<script src="{% static "darkadmin/assets/plugin/flexdatalist/jquery.flexdatalist.min.js" %}"></script>

<!-- Popover -->
<script src="{% static "darkadmin/assets/plugin/popover/jquery.popSelect.min.js" %}"></script>

<!-- Multi Select -->
<script src="{% static "darkadmin/assets/plugin/multiselect/multiselect.min.js" %}"></script>

<!-- Touch Spin -->
<script src="{% static "darkadmin/assets/plugin/touchspin/jquery.bootstrap-touchspin.min.js" %}"></script>

<!-- Timepicker -->
<script src="{% static "darkadmin/assets/plugin/timepicker/bootstrap-timepicker.min.js" %}"></script>

<!-- Colorpicker -->
<script src="{% static "darkadmin/assets/plugin/colorpicker/js/bootstrap-colorpicker.min.js" %}"></script>

<!-- Datepicker -->
<script src="{% static "darkadmin/assets/plugin/datepicker/js/bootstrap-datepicker.js" %}"></script>

<!-- Moment -->
<script src="{% static "darkadmin/assets/plugin/moment/moment.js" %}"></script>

<!-- DateRangepicker -->
<script src="{% static "darkadmin/assets/plugin/daterangepicker/daterangepicker.js" %}"></script>

<!-- Maxlength -->
<script src="{% static "darkadmin/assets/plugin/maxlength/bootstrap-maxlength.min.js" %}"></script>

<!-- Макски -->
<script src="{% static "myplug/mask/jquery.maskedinput.min.js" %}"></script>
<script src="{% static "myplug/mask/mymask.js" %}"></script>

<!-- Dropify -->
<script src="{% static "darkadmin/assets/plugin/dropify/js/dropify.min.js" %}"></script>
<script src="{% static "darkadmin/assets/scripts/fileUpload.demo.min.js" %}"></script>

<!-- Jquery UI -->
{#<script src="{% static "darkadmin/assets/plugin/jquery-ui/jquery-ui.min.js" %}"></script>#}
{#<script src="{% static "darkadmin/assets/plugin/jquery-ui/jquery.ui.touch-punch.min.js" %}"></script>#}

<!-- Select2 -->
<script src="{% static "darkadmin/assets/plugin/select2/js/select2.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(".search").chosen({search_contains: true});
</script>

<!-- Demo Scripts -->
<script src="{% static "darkadmin/assets/scripts/form.demo.js" %}"></script>
{% block script %} {% endblock %}
</body>
</html>